* {
font-family:'Poppins',sans-serif;
margin:0;
padding:0;
--colG1:#353535; 
--colG10:rgba(53,53,53,0.6);
--colG2:#525252;
--colW1:#e6e6e6;
--colW2:#b1b1b1;
--colY1:#fcb900;
--colY2:#ffcc3f;
}
/* header */
header {background:var(--colG10); left:0; right:0; top:0; position:fixed; transition:250ms ease-in; z-index:99; box-shadow:0 0 7px 0px rgba(0,0,0,0.7);}
/* navbar */
nav {align-items:center; display:flex; justify-content:space-between; padding:0 6%; }
nav img {height:6vh;}
nav .icon {display:none}
.nav-links {float:1;text-align:right}
.nav-links ul li {display:inline-block; list-style:none; padding:8px 12px; position:relative }
.nav-links ul li a, .nav-links ul li p{color:var(--colW1); font-size:15px; height:100%; text-decoration:none; padding: 0px; line-height: normal; }
.nav-links ul li a:hover, .nav-links ul li p:hover {color:var(--colY1)}
.nav-links ul li .submenu {background:var(--colY1); display:none; position:absolute; text-align:left; transition:all .5s; width:152px; box-shadow:0 0 7px 0px rgba(0,0,0,0.3);}
.nav-links ul li:hover .submenu {display:block; z-index:100}
.nav-links ul li:hover .submenu li{display:block;}
.nav-links ul li:hover .submenu li a{ color:var(--colG1)}
.nav-links ul li:hover .submenu li a:hover {color:var(--colW1)}

@media (max-width: 700px) {
  nav .icon {color:var(--colW1); cursor:pointer; display:block; font-size:20px; margin:10px }
  .nav-links ul li {display:block}
  .nav-links {background:var(--colY1);height:100vh;position:fixed;right:-175px;text-align:left;top:0; transition:.5s; width:175px; z-index:2 }
  .nav-links ul {padding:5px 10px }
  .nav-links ul li .submenu {display:block; padding:0; position:inherit; z-index:2}
  .nav-links ul li a, .nav-links ul li p {color:var(--colG1)}
  .nav-links ul li .submenu a {color:var(--colG1);}
}
.language {margin: 0px 0px }
.language a{ text-decoration:none; color:var(--colG1); background:var(--colY1); border:0px solid var(--colY1); border-radius: 7px; padding:0px 10px}
.language a:hover{color:var(--colY1); background:var(--colG1); border:0px solid var(--colY1); transition:.25s}
/* news box */
.news-box{ overflow: hidden; color: var(--colG1); position:absolute; text-align:center; top: 100%; width:100%; padding: 5px;}
/* general */
body {word-wrap: break-word;}
img {max-width: 100%;}

/* text formatting */
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
/* h1{font-size:5vmin}h2{font-size:3.5vmin}h3{font-size:2.5vmin}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px} */
h1,h2,h3,h4,h5,h6{font-family:'Source Serif Pro', serif;font-weight:700; padding:15px 0px 15px;}
p{line-height:30px; padding-bottom:20px}
figcaption p{font-size:14px; line-height:25px; padding-bottom:20px}
@media (max-width: 700px) {
  h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
  /* h1 {font-size:7.0vmin;}h2 {font-size:6.0vmin;}h3 {font-size:5.0vmin;}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px} */
  }
/* section */
.content { width:80%; text-align:center; color:var(--colG1); margin:auto; padding-bottom:50px; padding-top:50px;}
.blog-content { width:50%; text-align:left; color:var(--colG1); margin:auto; padding-bottom:50px; padding-top:50px;}
.box {border-radius:10px;box-sizing:border-box;margin:2% 1%;padding:20px 12px;position:relative;overflow:hidden;}
.bgG1{background:var(--colG1)} .bgG2{background:var(--colG2)}
.bgY1{background:var(--colY1)} .bgY2{background:var(--colY2)}
.bgW1{background:var(--colW1)} .bgW2{background:var(--colW2)}

.txtG1{color:var(--colG1)} .txtG2{color:var(--colG2)}
.txtY1{color:var(--colY1)} .txtY2{color:var(--colY2)}
.txtW1{color:var(--colW1)} .txtW2{color:var(--colW2)}
/* div */
.row {display:flex;justify-content:space-between;}
.col-20p {flex-basis:20%;} .col-25p {flex-basis:25%;} .col-33p {flex-basis:33.3%;} .col-50p {flex-basis:50%;} .col-66p {flex-basis:66%;} .col-75p {flex-basis:75%;} .col-100p {flex-basis:100%;}
.col-20p, .col-25p, .col-33p, .col-50p, .col-66p, .col-75p .col-100p{position:relative; overflow: hidden;}
/* display position */
.w3-display-topleft{position:absolute;left:0;top:0}.w3-display-topright{position:absolute;right:0;top:0}
.w3-display-bottomleft{position:absolute;left:0;bottom:0}.w3-display-bottomright{position:absolute;right:0;bottom:0}
.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%);}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%);}
.w3-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}

.txt-left {text-align:left; padding: 25px 50px;}
.txt-right {text-align:right; padding: 25px 50px;}
.txt-center {text-align:center; padding: 25px  50px;}

@media(max-width: 700px) {
  .content {width:95%}
  .blog-content {width:85%}
.row {flex-direction:column}
.txt-left, .txt-right, .txt-center {padding: 4.5vw;}
}

/* click buttons */
a {text-decoration:inherit}
.click-btn { background:var(--colY2); border:1px solid var(--colY2); border-radius:10px; color:var(--colG1); cursor:pointer;
display:inline-block; margin:5px 0px 5px 5px; padding:7px 10px; position:relative; text-decoration:none; max-width: 50%;box-shadow:0 0 7px 0px rgba(0,0,0,0.3);}
.click-btn:hover { background:var(--colG1); border:1px solid var(--colG1); color:var(--colY1); transition:.25s }

/* flowing cards */
.card-container {display: flex; flex-wrap: wrap; justify-content: center;}
.card {max-width: 25%; min-width: 250px; text-align:left; margin:20px 20px; border-radius: 10px;}
.card img {border-radius:10px; width:100% }


/* Participant sharings */
.slide { flex-basis: 7%; font-size: 70px; color: var(--colG2); margin:auto; cursor:pointer; }
.slide:hover {  color: var(--colG1);  transition:.25s;}
.share-box { display:flex; height: 190px; width: 100%; margin-bottom: 50px; margin-top: 25px; padding-top: 25px; background-color: var(--colW2); border-radius: 10px;}
.share-content {line-height: 30px;}
.share-box::after { content: ""; clear: both; }
.share-box img { float: left; margin-right: 20px; border-radius: 50%;}


@media (max-width: 500px) {
  .share-box { text-align: center; height: 450px;  }
  .share-box img { margin: auto; float: none; display: block; }
}

.content ul { list-style-position: outside; line-height:25px; margin: 2px 15px 50px;}

.bg-img {background-attachment:fixed;background-position:bottom; background-repeat:no-repeat;background-size:cover;position:relative;}
.home-img {background-image:url('images/Promo - PP092-v2.jpg');min-height:100vh;background-position:bottom;}
.pcl-img {background-image:linear-gradient(rgba(80,80,10,0.1), rgba(80,80,10,.8)),url('images/IMG-20230529-WA4.jpg');min-height:100vh;background-position:bottom;}
.asanas-img {background-image:url('images/Promo - PP131_139_142.jpg');height:50vh;background-position:top;}
.flower-img {background-image:url('images/frangipani.jpg');height:50vh;background-position:top;}
.flower2-img {background-image:url('images/pexels-min-an-1171581.jpg');height:50vh;background-position:center;}

.guru-img {background-image:url('images/Sadhguru.jpg'); min-height:100vh;}

.sub-img {background-image:url('images/Promo - PP017.jpg');background-position: right; color:var(--colG1);height:50vh;text-align:center;}
.sub-img h1 {padding-top:30vh;}
.gallery img{width:100%; height:40vh;object-fit:cover;margin: 5px;}
.mandala img{width:75%; position: relative;top: 50%;transform: translateY(-50%);}

.no-img {color:var(--colG1);height:30vh;position:relative;text-align:center;width:100%}
.no-img h1 {padding-top:15vh}

.blog-header {color:var(--colG1);text-align:center; padding: 20vh 0 20vh;
background-color:var(--colW1);background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23525252' fill-opacity='0.16' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");}



.cta {background-image:url('images/Promo - PP266.webp?v1');
background-position:top;background-size:cover;border-radius:10px;margin:5vh auto 5vh;padding:10vh 0;text-align:center;}
.cta h2 {color:var(--colW1);padding:0}
.cta .click-btn {color:var(--colW1)}
.cta .click-btn:hover {border-color:var(--colG1);}

@media(max-width:700px) {
.blog-header{padding: 10vh 0 10vh;}
.cta{width:95%}
.cta h1 {font-size:3.0vh}
.mandala img{width:60%; position: relative;top: 0%;transform: translateY(0%);}
}

.footer { background-color:var(--colG1); color:var(--colY1); margin:auto; padding:10px 0; text-align:center; width:100%; }
.footer-col {display:block;flex-basis:33%;}
.footer-col h3 {color:var(--colW1); font-weight:600; margin-bottom:15px}
.footer-col img{height:100px; }
.footer a {color:inherit; text-decoration:none}
.footer .click-btn {color:var(--colG1)}
.footer .click-btn:hover {color:var(--colY1)}

.shadow {box-shadow:0 0 5px 0px;}
.shadow:hover {box-shadow:0 0 7px 0px}

a.blog-box-link { color:inherit; height:100%; text-decoration:none; width:100% }

.wcloud img{width:75%;}


@media(max-width:700px) {
.sub-img h1 {font-size:10vw}
.blog-header h1 {font-size:24px}
.wcloud img{width:95%;}}

.contact-col { flex-basis:48%; margin-bottom:30px; text-align:left; }
.contact-col input,.contact-col textarea { border:1px solid #ccc; box-sizing:border-box; margin-bottom:17px; outline:none; padding:15px; width:100% }

.register-col { flex-basis:48%; margin-bottom:30px; text-align:left; }
.register-col input,.register-col textarea { border:1px solid #ccc; box-sizing:border-box; margin-bottom:17px; outline:none; padding:15px; }
.register-col ul { margin-bottom:20px; margin-left:30px; margin-top:-20px; padding:15px 0 25px }

/* .quote-box {background-color:var(--colW1);border-radius:0;box-shadow:0 0 7px 0px rgba(0,0,0,0.3);color:var(--colG1);margin:5% 0;text-align:center;} */
.quote-box {background-color:var(--colW1);border-radius:10px;color:var(--colG1);margin:20px;}

blockquote {font-size:16px;line-height: 30px; padding:40px}
blockquote span {color:var(--colY1)}


table { font-family: arial, sans-serif; border-collapse: collapse; width: 100%;}
td, th { border: 1px solid #dddddd; text-align: left; padding: 8px;}
tr:nth-child(even) { background-color: #dddddd;}

/* youtube lite load https://www.labnol.org/internet/light-youtube-embeds/27941/ */
.youtube-player {position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; background: #000;  margin: 5px;}
.youtube-player iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 100; background: transparent;  }
.youtube-player img { object-fit: cover; display: block; left: 0; bottom: 0; margin: auto; max-width: 100%; width: 100%; position: absolute; right: 0; top: 0; border: none; height: auto; cursor: pointer; -webkit-transition: 0.4s all; -moz-transition: 0.4s all; transition: 0.4s all;  }
.youtube-player img:hover { -webkit-filter: brightness(75%);  }
.youtube-player .play { height: 48px; width: 68px; left: 50%; top: 50%; margin-left: -34px; margin-top: -24px; position: absolute; background: url('https://i.ibb.co/j3jcJKv/yt.png') no-repeat; cursor: pointer;  }
